.header {
  background-color: rgba(16, 53, 3, 0.649);
  width: 100%;
  top: 0;
  margin: 0;
  border: 0;
}

.title {
  color: rgb(194, 194, 194);
  letter-spacing: 0.2rem;
}

body {
  margin: 0;
  background-image: url('trees.jpg');
}

h1 {
  margin: 0;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  margin-left: 2rem;
}

.btns {
  display: flex;
}

.test {
  display: flex;
}

/* .btn {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin: 3rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  width: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
} */

.btn {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin: 3rem;

  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #304401 5%, #283804 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Impact;
  font-size: 1.8rem;
  padding: 18px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.btn:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.btn:active {
  position: relative;
  top: 1px;
  box-shadow: 4px 4px 5px -1px rgba(14, 79, 3, 0.75) inset;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(14, 79, 3, 0.75) inset;
  -moz-box-shadow: 4px 4px 5px -1px rgba(14, 79, 3, 0.75) inset;
}

/* .btn:active {
  transform: translate(2px);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(221, 221, 221);
} */

.information {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(to bottom, #1f2b05 5%, #324701 100%);
  border-top: 1px;
  border-right: 2px;
  /* border-bottom: 1px; */
  /* border-left: 2px; */
  border-style: solid;
  border-color: black;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;

  background: linear-gradient(to bottom, #000000 5%, #222222 100%);
  border-top: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: black;

  color: white;
  /* font-size: 1.5rem; */
}

.statistics h3 {
  font-size: 1.5rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn--info {
}

.hidden {
  display: none;
}
